<h1>message list</h1>
<% @messages.each do |message| %>
name:<%= message.name %>
contents:<%= message.body %>
<br>
<% end %>

<%= form_for(@message) do |f| %>
name：
<%= f.text_field :name %>
contents:
<%= f.text_field :body %>
<%= f.submit %>
<% end%>
